.CreateAccount form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
}

.CreateAccount h2 {
  margin: 0;
}

.CreateAccount a{
  border-top: 1px solid rgb(54, 54, 54);
  text-align: center;
  margin-top: 0.8rem;
  padding-top: 0.5rem;
  width: 100%;
}

.CreateAccount form input {
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  margin: 0.5rem 0;
}

.CreateAccount form button {
  font-family: "MontserratAlternates-Thin";
  font-weight: bolder;
  padding: 0.5rem 1.5rem;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
  margin-top: 0.5rem;
  background-color: white;
}

.CreateAccount form div p {
  color: rgb(255, 106, 106);
  font-weight: lighter;
  letter-spacing: 0.1rem;
}

.CreateAccount form .error {
  border: 2px solid rgb(255, 38, 0);
}