.profilePhoto img {
  max-width: 10rem;
  border-radius: 50%;
  aspect-ratio: 1;
  object-fit: cover;
}

#file { 
  position: absolute;
  top: -2rem;
}

.profilePhoto {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profilePhoto button {
  font-family: "MontserratAlternates-Thin";
  font-weight: bolder;
  padding: 0.5rem 1.5rem;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
  margin-top: 0.5rem;
  background-color: white;
}

.noFotoPerfil {
  font-size: 6rem;
  background-color: gray;
  padding: 2rem;
  border-radius: 50%;
  aspect-ratio: 1;
}