.item img {
  width: 15rem;
}

.item {
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  border-radius: 0.5rem;
  /* background-color: #292929; */
  box-shadow: 0 0 4rem #cfcfcf2d;
  padding: 1rem;
}