.item img {
  width: 100%;
  border-radius: 0.5rem;
}

.item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  border-bottom: 1px solid rgb(54, 54, 54);
  padding-bottom: 1rem;
}

.item h3 {
  align-self: flex-start;
  padding-left: 0.5rem;
}