.barraBusqueda {
  display: flex;
  margin: 1rem;
  padding: 0.5rem;
  border: 1px solid rgb(54, 54, 54);
  border-radius: 0.5rem;
}

.barraBusqueda input {
  background-color: #000000;
  border: none;
  width: 100%;
  color: white;
  padding-left: 1rem;
}

.resultados {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
  justify-content: center;
}

.resultados a {
  width: 30%;
}

.resultados img {
  width: 100%;
}

