* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus-visible {
  outline-offset: 0px;
  outline: none;
} 

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "StrangerBackInTheNight";
  src: url('/font/StrangerBackInTheNight.ttf');
}
@font-face {
  font-family: "MontserratAlternates-Thin";
  src: url('/font/MontserratAlternates-Thin.ttf') format('truetype');
}

h1, h2 {
  font-family: "StrangerBackInTheNight";
  font-weight: lighter;
  text-align: center;
}

h1 {
  font-size: 10rem;
  letter-spacing: 0.5rem;
}

h2 {
  font-size: 5rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgb(54, 54, 54);
  text-transform: capitalize;
  letter-spacing: 0.5rem;
}

p, h3, h4 {
  font-family: "MontserratAlternates-Thin";
  text-align: center;
  letter-spacing: 0.2rem;
}

body{
  color: #FFFFFF;
  background-color: #000000;
  overflow-x: hidden;
  margin: 3.5rem 0 6rem 0;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "MontserratAlternates-Thin";
  font-weight: bold;
  letter-spacing: 0.2rem;
}

label {
  font-family: "MontserratAlternates-Thin";
  font-weight: bolder;
}

@media (width > 780px) {
  body {
    margin: 0;
  }
}