* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Friday13";
  src: url('/font/Friday13.ttf');
}
@font-face {
  font-family: "MontserratAlternates-Thin";
  src: url('/font/MontserratAlternates-Thin.ttf') format('truetype');
}

h1, h2, h3, h4 {
  font-family: "Friday13";
  font-weight: lighter;
  text-align: center;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

p {
  font-family: "MontserratAlternates-Thin";
  color: #A0A0A0;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

body{
  color: #FFFFFF;
  background-color: #1E1E1E;
}

a {
  text-decoration: none;
  color: #BF360C;
  font-family: "MontserratAlternates-Thin";
  font-weight: bold;
  letter-spacing: 0.2rem;
}